/*************/
/* utilities */
/*************/

.whitespace-nowrap {
	white-space: nowrap;
}

.container {
	max-width: 192rem;
	padding: 0 $padding;
	margin: 0 auto;
}

.grid {
	display: grid;

	&--hero {
		grid-template-columns: 46.1rem 1fr;
		align-items: center;
	}

	&--special-offers {
		grid-template-columns: repeat(4, 1fr);
		gap: 3rem;
		justify-content: end;
		align-items: end;
	}

	&--details {
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
	}
}
